@font-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lufga", sans-serif;
}

/* .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .navlinks {
  display: flex;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
} */

ul.links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

li {
  flex-shrink: 2;
  height: 50px;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  display: flex;
}

.red {
  background-color: #fd853a;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.headerlogo{
  width: auto;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: none;
}


.crosicon{
  display: none;
}

/* ....................................navbar-media....................... */
@media( max-width:1024px){

.navbar {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #000000;
  position: absolute;
  left: -40%;
  z-index: 30;
  border-radius: 0px  10px 10px 0;
}
.navlinks {
  display: flex;
  flex-direction: column;
}



.navlinks{
  /* height: 700px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.links{

  display: flex;
  height: auto;
  width: 50px;
  flex-direction: column;
}

.crosicon{
  display: block;
  transform: rotate(45deg);
  width: 10%;
  height: auto;
  position: absolute;
 left: 85%;
 display: none;
}

.red{
  background-color: #fd853a;
}
}

/* .............................containerr...................... */

.containerr {
  display: flex;
  height: 408px;
  width: 356px;
  flex-direction: column;
  border-radius: 40px;
  background-color: #68686845;
}
.containerr::after {
  content: "";
  position: relative;
  /* background-color: #FD853A; */
  width: 50px;
  height: 50px;
  top: 20px;
  left: 306px;
}

.containerr-p {
  position: relative;
  color: white;
  font-size: 25px;
  font-family: "Lufga", sans-serif;
  width: 356px;
  height: 30px;
  background-color: #fd853a;
  left: 20px;
  top: 30px;
}

.line {
  position: relative;
  height: 2px;
  width: 356px;
  background-color: #000000;
  top: 100px;
}

/* .portfoliosectionheading{
  height: 100px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Lufga', sans-serif;
  color: white;
}

.p2p4{
  font-size: 40px;
  font-weight: 700;
  color: #FD853A;
}
.portfoliocard-title{
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Lufga', sans-serif;
} */

.portfoliocard {
  height: 400px;
  width: 600px;
  display: flex;
  background-color: #68686845;
  border-radius: 40px;
  flex-direction: column;
  position: relative;
  left: 20px;
}

.portfoliocardNavicon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #fd853a;
  position: relative;
  left: 500px;
  top: 100px;
  z-index: 1;
  display: none;
}

.portfoliocardtext1 {
  font-size: 60px;
  font-family: "Lufga", sans-serif;
  font-weight: 800;
  color: white;
  position: relative;
  top: -100px;
  left: 20px;
}

.portfoliocardtext2 {
  height: 150px;
  width: 96%;
  background-color: #0b2a5b85;
  position: relative;
  top: -160px;
  left: 12px;
  border-radius: 20px;
  text-align: top;
  display: none;
}

.portfoliocardtext2p1 {
  font-size: 60px;
  font-family: "Lufga", sans-serif;
  font-weight: 800;
  color: white;
  position: relative;
  left: 20px;
}

.portfoliocardtext2p2 {
  width: 560px;
  position: relative;
  left: 20px;
  color: white;
}

.portfoliocard:hover .portfoliocardtext1 {
  display: none;
}
.portfoliocard:hover .portfoliocardtext2 {
  display: block;
}
.portfoliocard:hover .portfoliocardNavicon {
  display: block;
  z-index: 3;
}

/* .............................footer...................... */

.footer {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  background-color: #272727;
}

.footerpart1 {
  height: 150px;
  display: flex;
  align-items: center;
}

.footertitle {
  display: inline-block;
  font-family: "Lufga", sans-serif;
  color: white;
  position: relative;
}

.hireme {
  display: inline-block;
  height: 50px;
  width: 150px;
  background-color: #fd853a;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
}



.logo-social-icon {
  height: 300px;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footertext {
  font-size: 15px;
  font-family: "Lufga", sans-serif;
  color: white;
  position: relative;
  left: 20px;
}

.social-icons {
  height: 25px;
  width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 20px;
  cursor: pointer;
}

.footerlinks {
  height: 150px;
  width: 60px;
}
.footernavigation {
  height: 25px;
  width: 160px;
  display: flex;
  flex-direction: column;
}
.quicknav {
  font-size: 15px;
  font-weight: 600;
  font-family: "Lufga", sans-serif;
  color: #fd853a;
  position: relative;
  cursor: pointer;
  display: inline-flex;
}
.footerlink {
  font-size: 15px;
  font-family: "Lufga", sans-serif;
  color: white;
  position: relative;
  left: 20px;
  cursor: pointer;
  display: inline-flex;
}

.footercontact {
  height: 150px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  position: relative;
  gap: 10px;
  color: white;
}

.footercontact-title {
  font-size: 15px;
  font-weight: 600;
  font-family: "Lufga", sans-serif;
  color: #fd853a;
  position: relative;
}


.footerpart3text {
  
  font-size: 15px;
  font-family: "Lufga", sans-serif;
  color: white;
  position: relative;
}
